.toha span{
    
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}
.toha {
text-align: center;
}
.modoru{
    font-size: 30px;
    background-color: crimson;
    border-radius: 50px;
    color: aliceblue;
    
    
}
body{
    background-color: coral;
}
.ibe{
    margin-top: 70px;
    margin-bottom: 30px;
    height: 400px;
    font-size: 25px;
    background-color: aliceblue;
    border: 1px

    
    
}